.search{
  background-color: #00595c;
  padding: 2rem;
  border: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  border-radius: 30px;
}

.search p{
  color: #9da5d1;
  font-size: 1.2rem;
}

.search_container{
  display: flex;
  gap: .5rem;
}

.search_container input,
.search_container button{
  height: 2rem;
  padding: .5rem;
  border-radius: .5rem;
  border: none;

  color: #2b3566;

  font-weight: 600;

  cursor: pointer;
}

.search_container button{
  background-color: #00aeff;
  cursor: pointer;
}