.container {
  margin: 20px 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.userName {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: text; /* indica que pode copiar */
}
