.user {
  background-color: #05001ee0;
  padding: 2rem;
  border: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  border-radius: 30px;
  

}

.user img {
  border-radius: 30%;
  width: 140px;
  height: 140px;
  border: 3px solid #00c3ff;
}

.location{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.location svg{
  fill: #00f7ff;
  font-size: 1.5rem;
}

.user span {
  color: #ffffff;
  font-weight: bold;
}

.stats{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.stats div:first-child{
  border-right: 1px solid #afafaf;
}

.stats .number {
  background-color: #1b1c1c;
  color: #2b3566;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.user a{
  background-color: #272727;
  color: #00d9ff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;

  &:hover {
    background-color: #00d9ff;
    color: #272727;
    opacity: 0.5;
  }
}