.app{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.app h1{
  text-align: center;
  margin-bottom: 1rem;

  border-bottom: 2px solid #ffffff;
  max-width: 50%;
  margin: 0 auto 50px auto;
}