* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  color: #fff;
}

body {
  position: relative;
  background-color: #111011;
  padding: 2rem;
  background-image: url('./assets/github.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.667);
    pointer-events: none;
    z-index: -10;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}